[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
promise = "*"
pyyaml = "*"
setproctitle = "*"

[dev-packages]
dbus-python = "*"
overrides = "*"
pytest = "*"
type_enforced = ">=1.3.0"
exceptiongroup = "*"  # needed for python 3.10

[requires]
python_version = "3.9"
